Repository skhuCloud/skhuCloud, pull requests merged in 2022-06, with the labels that each got.

#49 디자인 수정
  src/main/resources/static/css/common.css
  src/main/resources/static/css/sb-admin-2.min.css
  src/main/resources/static/css/skhu.css
  src/main/resources/static/css/vendor/datatables/dataTables.bootstrap4.min.css
  src/main/resources/static/images/check100.png
  src/main/resources/static/images/check50.png
  src/main/resources/static/images/download.png
  src/main/resources/static/images/empty.png
  src/main/resources/static/images/none_check_box.png
  src/main/resources/templates/filecontent.html
  src/main/resources/templates/folderVersion.html
  src/main/resources/templates/fragments/head.html
  src/main/resources/templates/fragments/sidebar.html
  src/main/resources/templates/fragments/topbar.html
  src/main/resources/templates/main.html
Labels: refactor

#50 #47 화면 수정 진행
  src/main/java/com/skhu/cloud/controller/VersionTestController.java
  src/main/resources/static/css/common.css
  src/main/resources/static/css/skhu.css
  src/main/resources/static/images/checked.png
  src/main/resources/static/images/d32.png
  src/main/resources/static/images/non.png
  src/main/resources/templates/filecontent.html
  src/main/resources/templates/folderVersion.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/fragments/sidebar.html
  src/main/resources/templates/fragments/topbar.html
  src/main/resources/templates/main.html
Labels: refactor, css

#54 기능 개발 및 css 정리
  src/main/java/com/skhu/cloud/constant/Const.java
  src/main/java/com/skhu/cloud/controller/MainController.java
  src/main/java/com/skhu/cloud/controller/VersionController.java
  src/main/java/com/skhu/cloud/service/Impl/MainServiceImpl.java
  src/main/java/com/skhu/cloud/service/MainService.java
  src/main/resources/static/css/common.css
  src/main/resources/static/css/skhu.css
  src/main/resources/templates/filecontent.html
  src/main/resources/templates/main.html
Labels: refactor

#55 Click Files 에러 해결
  src/main/java/com/skhu/cloud/constant/Const.java
  src/main/java/com/skhu/cloud/controller/MainController.java
  src/main/java/com/skhu/cloud/dto/FileDto.java
  src/main/java/com/skhu/cloud/service/Impl/MainServiceImpl.java
  src/main/java/com/skhu/cloud/service/MainService.java
  src/main/resources/static/css/skhu.css
  src/main/resources/static/js/click.js
  src/main/resources/templates/filecontent.html
  src/main/resources/templates/main.html
  src/main/resources/templates/search.html
Labels: refactor

#56 sort 처리
  src/main/java/com/skhu/cloud/controller/MainController.java
  src/main/java/com/skhu/cloud/service/Impl/MainServiceImpl.java
  src/main/java/com/skhu/cloud/service/MainService.java
  src/main/resources/static/images/double-left.png
  src/main/resources/static/images/double-right.png
  src/main/resources/static/images/down.png
  src/main/resources/static/images/up.png
  src/main/resources/templates/main.html
Labels: feature, css

#57 Sort, Pagination 마무리
  src/main/java/com/skhu/cloud/constant/Const.java
  src/main/java/com/skhu/cloud/controller/MainController.java
  src/main/java/com/skhu/cloud/controller/VersionController.java
  src/main/java/com/skhu/cloud/dto/FileDto.java
  src/main/java/com/skhu/cloud/service/Impl/CreateMokServiceImpl.java
  src/main/java/com/skhu/cloud/service/Impl/MainServiceImpl.java
  src/main/java/com/skhu/cloud/service/MainService.java
  src/main/resources/static/css/common.css
  src/main/resources/static/css/skhu.css
  src/main/resources/static/js/click.js
  src/main/resources/templates/folderVersion.html
  src/main/resources/templates/main.html
Labels: refactor, css

#58 전반적인 css 수정
  src/main/resources/static/css/common.css
  src/main/resources/static/css/sb-admin-2.min.css
  src/main/resources/static/css/skhu.css
  src/main/resources/static/css/vendor/datatables/dataTables.bootstrap4.css
  src/main/resources/templates/filecontent.html
  src/main/resources/templates/folderVersion.html
  src/main/resources/templates/fragments/topbar.html
  src/main/resources/templates/main.html
Labels: refactor, css

#60 Css 수정
  src/main/resources/static/css/common.css
  src/main/resources/static/css/sb-admin-2.min.css
  src/main/resources/static/css/skhu.css
  src/main/resources/templates/filecontent.html
  src/main/resources/templates/main.html
Labels: css

#61 #59 modal
  src/main/java/com/skhu/cloud/controller/MainController.java
  src/main/java/com/skhu/cloud/controller/VersionTestController.java
  src/main/java/com/skhu/cloud/service/Impl/MainServiceImpl.java
  src/main/java/com/skhu/cloud/service/MainService.java
  src/main/resources/static/css/common.css
  src/main/resources/static/images/exitButton.png
  src/main/resources/static/js/google.js
  src/main/resources/templates/diffTest.html
  src/main/resources/templates/fragments/head.html
  src/main/resources/templates/fragments/sidebar.html
  src/main/resources/templates/main.html
  src/main/resources/templates/modal.html
Labels: feature, css

#62 css 변경
  src/main/java/com/skhu/cloud/controller/VersionController.java
  src/main/java/com/skhu/cloud/controller/VersionTestController.java
  src/main/resources/static/css/common.css
  src/main/resources/static/js/google.js
  src/main/resources/templates/filecontent.html
  src/main/resources/templates/folderVersion.html
  src/main/resources/templates/fragments/sidebar.html
  src/main/resources/templates/main.html
Labels: css

#63 기능 및 css 리팩토링
  src/main/java/com/skhu/cloud/controller/MainController.java
  src/main/java/com/skhu/cloud/controller/VersionController.java
  src/main/java/com/skhu/cloud/service/CreateMokService.java
  src/main/java/com/skhu/cloud/service/Impl/CreateMokServiceImpl.java
  src/main/java/com/skhu/cloud/service/Impl/MainServiceImpl.java
  src/main/java/com/skhu/cloud/service/MainService.java
  src/main/resources/static/css/common.css
  src/main/resources/static/css/sb-admin-2.min.css
  src/main/resources/static/css/skhu.css
  src/main/resources/templates/fragments/sidebar.html
  src/main/resources/templates/main.html
  src/main/resources/templates/search.html
Labels: refactor, css

#66 [#65] 히스토리 검색도 가능하도록 검색 기능을 업데이트
  src/main/java/com/skhu/cloud/controller/VersionController.java
  src/main/resources/static/css/skhu.css
  src/main/resources/static/js/click.js
  src/main/resources/templates/main.html
Labels: feature, refactor, css
